<div class="col-sm-4">
  <div class="img_box">
    <%= image_tag(step.image, class: "img-responsive") %>
    <h4>Step <%= step.step %>. <%= step.title %></h4>
    <p><%= step.description %></p>
  </div>
</div>

