<% if @content.present? %>
  <% content = @admin_user.change_email_keywords(@content, customer: @user) %>
  <%= content.html_safe %>
<% else %>
  <p>Hello admin!</p>
  <p>user <%= @user.email %> wants to contact you.</p>
<% end %>
