<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<div id="ex1" class="modal" style="max-width:1000px; width=800px; height:700px">
<button type="button"  class="btn btn-secondary" id= 'zoomin'>
<i class="fas fa-search-plus"></i>
</button>
<button type="button" class="btn btn-secondary" id= 'zoomout'>
<i class="fas fa-search-minus"></i></button>
<button type="button" style="float:right;" class="btn btn-secondary" id= 'replaceCroppedImage'>Crop</button>
  <!-- <a href="#" rel="modal:close">Close</a>  -->
  <div class="image-container" >
    <img id="croppableImage" style="max-height: 600px;" src="">
  </div>
</div>

