<% if @content.present? %>
  <% content = @user.change_email_keywords(@content, @email_otp) %>
  <%= content.html_safe %>
<% else %>
  <p>Hello <%= @email_otp.email %>!</p>

  <p>Your password has been updated successfully.</p>
<% end %>
