<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      To activation pin to signup this account is: <%= @pin %>
    </p>
  </body>
</html>
