<%= form_tag("/admin/brand_settings/upload_file", method: "post", multipart: true) %>
  <table>
    <tr>
      <td>
        <label for="dump_file">
          Select a File :
        </label>
      </td>
      <td>
        <%= file_field_tag :file, direct_upload: true %>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag 'Submit' %>
      </td>
    </tr>
  </table>